body {
	margin: 0 auto;
	color: #4a4a4a;
}

.container {
	width: 1345px;
	margin: 0 auto;
}

/* HEADER */

header {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	height: 64px;
}

.logo-img {
	display: flex;
	align-items: center;
}

.logo-img img {
	height: 55px;
	padding-left: 24px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h5 {
	font-size: 22px;
	margin: 0;
	color: #4a4a4a;
}

.logo span {
	color: #a4a4a4;
	font-weight: normal;
}

.links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	padding-right: 24px;
	width: 1062px;
}

.links span a {
	padding-left: 16px;
	text-decoration: none;
	color: #4a4a4a;
}

.icons-menu {
   	display: none;
}

/* BANNER */

main {
	background-color: #d8d8d8;
	display: flex;
}

.banner {
	padding: 32px 24px;
	width: 60%;	
}

.banner img {
	width: 100%;
}

.aside-text{
	width: 30%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.aside-text h2 {
	font-size: 50px;
	padding-top: 100px;
}

.aside-text p {
	width: 90%;
	font-size: 28px;
	font-weight: bold;
}

.aside-text div {
	background-color: #4a4a4a;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 22px;
	margin-top: 50px;
	width: 90%;
}

.aside-text h5 {
	margin: 0px;
	text-align: center;
}

/* THIRD PART */

section {
	display: flex;
}

.first-column {
	width: 60%;
	padding: 32px 24px;
}

.first-column img {
	width: 100%;
	padding-bottom: 32px;
}

.first-column h2 {
	font-size: 48px;
}

.first-column p {
	font-size: 24px;
}

.first-column h2, p {
	padding-bottom: 24px;
	margin: 0;
}

.second-column {
	width: 40%;
	padding: 32px 0px 32px 32px;
}

.div-flex {
	display: flex;
}

.div-information {
	width: 35% auto;
}

.img-information {
	width: 79%;
	padding: 0px 16px 32px 16px;
}

/*.img-information2 {
	display: none;
}*/

.text-information {
	width: 55%;
	padding-top: 20px;
}

.text-information a {
	text-decoration: none;
}

.guest-lecture {
	background-color: #d8d8d8;
}

#guest {
	padding: 16px;
	width: 79%;
}

/* COURSES */

.courses {
	background-color: #d8d8d8;
}

.titles {
	font-size: 42px;
	padding: 32px 0px;
	display: flex;
	justify-content: center;
	margin: 0;
}

.gallery {
	display: flex;
	padding: 0px 72px 32px 72px;
	width: 1137px;
}

.paddings {
	padding-left: 16px;
}

.gallery-img {
	width: 379px;
}

#middle-img {
	margin-left: 32px;
	margin-right: 32px;
}

.background-img {
	background-color: #fff;
}

.gallery2 {
	display: flex;
	padding: 0px 72px 32px 72px;
	width: 1137px;
}

/*THESIS EXHIBIT*/
.thesis {
	background-color: #fff;
}

.thesis-section {
	display: flex;
}

.thesis-images {
	width: 90%;
	height: auto;
	padding: 16px;
}

.img-thesis {
	width: 30%;
}

.thesis-text {
	padding-left: 16px;
	padding-top: 15px;
	width: 50%;
}

.thesis-containers {
	display: flex;
}

.right-column {
	width: 40%;
}

.bg {
	background-color: #d8d8d8;
}

.video {
	width: 60%;
	padding: 0px 24px 24px 24px;
}

/* FOOTER */
footer {
	display: flex;
	width: 100%;
	border-top: 1px solid #d8d8d8;
	height: 110px;
}

.footer-links {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 16px 24px 16px 24px;
}

.footer-links a {
	margin: 10px;
	text-decoration: none;
	color: #000000;
}

.rights {
	padding: 16px 24px 16px 24px;
	width: 35%;
}

/* MEDIA QUERIES */ 

@media only screen and (max-width: 480px) {
	
	/* HEADER */
	.container {
		width: auto;
	}

	.text-menu {
		display: none;
	}

	.logo {
		display: none;
	}

	.icons-menu {
		display: flex;
		justify-content: space-around;
		padding: 0px;
	}

	.links {
		display: flex;
		justify-content: space-around;
		padding-left: 15px;
	}

	.logo-img img {
	height: 45px;
	padding-left: 80px;
	}

	/* BANNER */
	
	.banner {
		padding: 0px;
	}

	.banner img {
		width: 480px;
	}

	main {
		flex-direction: column;
		background-color: #d8d8d8;
	}

	.aside-text {
		width: 90%;
		padding-left: 16px;
	}

	.aside-text h2 {
		padding: 0px;
		margin: 0px;
	}

	.aside-text div {
		width: 100%;
		margin: 0px;
	}

	.first-column {
		display: none;
	}

	.second-column {
		flex-direction: column;
		padding: 0px;
		width: 100%;
	}

	.div-flex {
		flex-direction: column;
		width: 100%;
	}

	.img-information {
		display: none;
	}

	.img-information2 {
		width: 93%;
		padding: 16px;
	}

	.text-information {
		padding: 16px 32px;
		width: 100%;
	}

	.text-information h2 {
		margin-top: 0px;
	}

	.guest-lecture {
		background-color: #fff;
	}

	#guest {
		display: none;
	}

	#container-courses {
		background-color: #fff;
		border: 1px solid #d8d8d8;
	}

	.gallery {
		display: none;
	}

	.gallery2 {
		display: none;
	}

	.courses-divs {
		background-color: #d8d8d8;
		width: 90%;
		margin-left: 25px;
	}

	.titles {
		padding-top: 32px;
		padding-bottom: 16px;
	}

	.courses-divs h2 {
		padding: 15px;
		text-align: center;
	}

	.thesis-section h3, p {
		display: none;
	}

	.video {
		width: 100%;
		padding: 0px;
	}

	.right-column {
		display: none;
	}

	.rights {
		width: 90%;
		padding-top: 40px;
	}

	.footer-links {
		display: none;
	}
}