body {
	margin: 0 auto;
}

.container {
	width: 1345px;
	margin: 0 auto;
}

/* Header styles */

header {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	height: 64px;
}

.logo-img {
	display: flex;
	align-items: center;
}

.logo-img img {
	height: 55px;
	padding-left: 24px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h5 {
	font-size: 22px;
	margin: 0;
	color: #4a4a4a;
}

.logo span {
	color: #a4a4a4;
	font-weight: normal;
}

.links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	padding-right: 24px;
	width: 1062px;
}

.links span a {
	padding-left: 16px;
	text-decoration: none;
	color: #4a4a4a;
}

main {
	background-color: #d8d8d8;
	display: flex;
}

.banner {
	padding: 32px 24px;
	width: 60%;	
}

.banner img {
	width: 100%;
}

.aside-text{
	color: #4a4a4a;
	width: 30%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.aside-text h2 {
	font-size: 50px;
	padding-top: 100px;
}

.aside-text p {
	width: 90%;
	font-size: 28px;
	font-weight: bold;
}

.aside-text div {
	background-color: #4a4a4a;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 22px;
	margin-top: 50px;
	width: 90%;
}

.aside-text h5 {
	margin: 0px;
	text-align: center;
}