body {
	margin: 0 auto;
	color: #4a4a4a;
}

.container {
	width: 1345px;
	margin: 0 auto;
}

/* HEADER STYLES */

header {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	height: 64px;
}

.logo-img {
	display: flex;
	align-items: center;
}

.logo-img img {
	height: 55px;
	padding-left: 24px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h5 {
	font-size: 22px;
	margin: 0;
	color: #4a4a4a;
}

.logo span {
	color: #a4a4a4;
	font-weight: normal;
}

.links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	padding-right: 24px;
	width: 1062px;
}

.links span a {
	padding-left: 16px;
	text-decoration: none;
	color: #4a4a4a;
}

.icons-menu {
   	display: none;
}

/* BANNER SECTION */

main {
	background-color: #d8d8d8;
	display: flex;
}

.banner {
	padding: 32px 24px;
	width: 60%;	
}

.banner img {
	width: 100%;
}

.aside-text{
	width: 30%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.aside-text h2 {
	font-size: 50px;
	padding-top: 100px;
}

.aside-text p {
	width: 90%;
	font-size: 28px;
	font-weight: bold;
}

.aside-text div {
	background-color: #4a4a4a;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 22px;
	margin-top: 50px;
	width: 90%;
}

.aside-text h5 {
	margin: 0px;
	text-align: center;
}

/* THIRD PART */

section {
	display: flex;
}

.first-column {
	width: 60%;
	padding: 32px 24px;
}

.first-column img {
	width: 100%;
	padding-bottom: 32px;
}

.first-column h2 {
	font-size: 48px;
}

.first-column p {
	font-size: 24px;
}

.first-column h2, p {
	padding-bottom: 24px;
	margin: 0;
}

.second-column {
	width: 40%;
	padding: 32px 0px 32px 32px;
}

.div-flex {
	display: flex;
}

.div-information {
	width: 35% auto;
}

.img-information {
	width: 79%;
	padding: 0px 16px 32px 16px;
}

.text-information {
	width: 65%;
}

.guest-lecture {
	background-color: #d8d8d8;
}

#guest {
	padding: 16px;
	width: 79%;
}

/* COURSES */

.courses {
	background-color: #d8d8d8;
}

.courses-title {
	font-size: 42px;
	padding: 32px 0px;
	display: flex;
	justify-content: center;
	margin: 0;
}

.gallery {
	display: flex;
	padding: 0px 72px 32px 72px;
	width: 1137px;
}

.gallery-img {
	width: 379px;
}

#middle-img {
	margin-left: 32px;
	margin-right: 32px;
}

.background-img {
	background-color: #fff;
}

.gallery2 {
	display: flex;
	padding: 0px 72px 32px 72px;
	width: 1137px;
}